.dockerfile_checksum
build/
data/
__pycache__/
install/
log/
logs/
robots/__pycache__/
ros2_packages/fr3_adapters/config/
ros2_packages/fr3_adapters/fr3_adapters/__pycache__/
ros2_packages/franka_description/
ros2_packages/human_adapters/human_adapters/__pycache__/
ros2_packages/pal_gripper/
ros2_packages/pal_urdf_utils/
ros2_packages/pmb2_robot/
ros2_packages/pmb2_simulation/
ros2_packages/robot_common/robot_common/__pycache__/
ros2_packages/tiago_adapters/tiago_adapters/__pycache__/
ros2_packages/tiago_robot/
ros2_packages/tiago_simulation/
src/__pycache__/
src/communication/__pycache__/
src/entities/__pycache__/
src/graph/__pycache__/
venv/

pictures/
experiment_logs/
generate_experiments/
Results/
