<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>FemaleVisitor_yellow</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>FemaleVisitor_yellow</name>
    <email>wanyi@openrobotics.org</email>
  </author>

  <description>
    Female visitor
  </description>
</model>
