<?xml version="1.0"?>

<model>
  <name>Pioneer 3AT</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>Leticia Berto</name> <!-- originally from Dereck Wonnacott. I adapted it to ROS2 -->
    <email>leticia.berto@manchester.ac.uk</email><!-- dereck@gmail.com -->
  </author>
  
  <license>Creative Commons Attribution 3.0 Unported</license>

  <description>
    Pioneer 3AT Mobile Robot with Skid-Steer Plugin.
  </description>
</model>
